*{
    margin:0 ;
   
 }

html, body{
    
    height: 100%;
}
   
.content{
  min-height: 100%;  
    height: auto !important;
    margin: 0 auto -100px;
    
}
.footer, push {
height: 100px;

}
      
        

.menu{
    float: left;
    
    width: 100%;
    padding: 0;
    margin:0;
    list-style-type: none;
    text-decoration-line: none;
    
}
.menu a {
    float: left;
    width: 6em;
    text-decoration: none;
    color: black;
   padding: 0,2em 0,7em;
    border-right: 1px solid #000;
    background-color: darkgrey;
}

    

    
    


.header{
    width: 100%;
  height: 70px;
    border: 2px solid darkred;
    background: blanchedalmond;
    
}

.content{
  border: 2px solid red;
           
            background-color: blanchedalmond; 
 }
.footer{
    width: 100%;
    
    border: 4px solid orangered;
    background: sandybrown;
    margin: 0;
    width: 100%;
    
}
.tabla {
    border: 10px solid blanchedalmond;
    

 

}
#slika{
     
    height: 100%
   
}
h,p{
  text-align: center;  
    
}
.menu a:hover{
   background-color: orangered;
    
}
.forma{
    display: block;
    width:505px;
    height: 50px;
    border: 2px solid darkred;
    border-radius:10px;
    
    
    
}
.kraj{
    list-style-type: none;
    text-decoration-line: none;
}